/*
INFO:
    Icons: https://file000.flaticon.com/downloads/license/license.pdf
    selected: designed by Pixel perfect from Flaticon
    remove: designed by Alfredo Hernandez from Flaticon
    edit: designed by Freepik from Flaticon
*/

html,
body {
    height: 100%;
}

.tableFixHead {
    overflow-y: auto;
    height: 100px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 16px;
}

th {
    background: rgba(160, 208, 255, 0.93);
    text-align: center;
    font-family: "Andale Mono",serif;
    font-size: 16px;
}

td {
    text-align: center;
    font-family: "Andale Mono",serif;
    font-size: 14px;
}
